<mat-expansion-panel
  ngClass="question_detail"
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false"
>
  <mat-expansion-panel-header>
    <mat-panel-description class="item1">
      {{ question.title }}
    </mat-panel-description>
    <mat-panel-description class="item2" *ngIf="!Islimit">
      {{ question.date | date : "medium" }}
    </mat-panel-description>
    <mat-panel-description class="item3">
      {{ question.category }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div
    [innerHTML]="sanitizeHTML(question.description)"
    class="font_overwrite"
  ></div>
</mat-expansion-panel>
