.demo-paginator {
  margin-top: 1rem;
}

.btn {
  padding: 10px 5px;
  background: #673ab7;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 2.5rem;
}

.d_flex {
  display: flex;
  justify-content: space-between;
}
