<form class="example-form" [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>Question</mat-label>
    <input matInput formControlName="title" placeholder="Enter Question" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select formControlName="category">
      <mat-option
        *ngFor="let category of Categories"
        [value]="category.viewValue"
      >
        {{ category.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-radio-group aria-label="Select an option" formControlName="sharedLevel">
    <mat-radio-button [value]="'private'" color="primary"
      >Private</mat-radio-button
    >
    <mat-radio-button [value]="'public'" color="primary"
      >Public</mat-radio-button
    >
  </mat-radio-group>

  <div class="padding_xy_1">Answer</div>
  <quill-editor
    formControlName="description"
    [style]="{ height: '300px', display: 'block' }"
  ></quill-editor>

  <!-- Add any other form fields or buttons as needed -->

  <button mat-raised-button color="primary" (click)="onSubmit()" class="submit">
    Submit
  </button>
</form>
