.blog_detail {
  margin-top: 1rem;
}

.justify_end {
  justify-content: end;
}

.pre {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.item1 {
  flex: 10;
}

.item2 {
  flex: 1;
}

.item3 {
  flex: 1;
}

.font_overwrite {
  font-family: Georgia, "Times New Roman", Times, serif;
}
