<mat-expansion-panel
  ngClass="blog_detail"
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false"
>
  <mat-expansion-panel-header>
    <mat-panel-description class="item1">
      {{ blog.title }}
    </mat-panel-description>
    <mat-panel-description class="item2">
      {{ blog.date | date : "medium" }}
    </mat-panel-description>
    <mat-panel-description class="item3">
      {{ blog.category }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div
    [innerHTML]="sanitizeHTML(blog.description)"
    class="font_overwrite"
  ></div>
</mat-expansion-panel>
