/* Set a fixed height for the header */
mat-toolbar {
  height: 64px; /* Change the height as needed */
}

/* Style the logo/icon */
mat-icon {
  margin-right: 8px; /* Add some spacing to the right of the icon */
}

/* Style the header title */
span {
  font-size: 24px;
  font-weight: bold;
  color: white;
  display: inline-block;
  margin-right: 2rem;
}

.spinnerContainer {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: #161515;
  z-index: 1;
  opacity: 0.7;
  .spinner {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
