<div *ngIf="loadingService.loading$ | async" class="spinnerContainer">
  <mat-spinner ngClass="spinner"></mat-spinner>
</div>
<mat-toolbar color="primary">
  <mat-icon>edit</mat-icon>
  <span [routerLink]="['/']" ngClass="">My Question Bank</span>
  <span class="spacer"></span>
  <span [routerLink]="['/questionList']" ngClass="">Questions List </span>
  <span class="spacer"></span>
  <span [routerLink]="['/analyticData']" ngClass="">Analytics Data</span>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer mat-toolbar">All right reserved @2023</footer>
